<div>
    <div>
        <b>{{ 'contact.mail.name' | trans }}</b><br>
        {{ mail.contactmailrequest.name }}
    </div><br>
    <div>
        <b>{{ 'contact.mail.mail' | trans }}</b><br>
        {{ mail.contactmailrequest.mail }}
    </div><br>
    <div>
        <b>{{ 'contact.mail.phone' | trans }}</b><br>
        {{ mail.contactmailrequest.phone }}
    </div><br>
    <div>
        <b>{{ 'contact.mail.comment' | trans }}</b><br>
        {{ mail.contactmailrequest.comment }}
    </div><br>
</div>