<div>
    <div>
        <b>{{ 'contact.mail.name' | trans }}</b><br>
        {{ mail.contactmailtequest.name }}
    </div>
    <div>
        <b>{{ 'contact.mail.mail' | trans }}</b><br>
        {{ mail.contactmailtequest.mail }}
    </div>
    <div>
        <b>{{ 'contact.mail.phone' | trans }}</b><br>
        {{ mail.contactmailtequest.phone }}
    </div>
    <div>
        <b>{{ 'contact.mail.comment' | trans }}</b><br>
        {{ mail.contactmailtequest.comment }}
    </div>
</div>