{% extends "@application/layout/layout.twig" %}

{% block content %}
    <div class="row">
        <div class="small-12 columns">
            <h2>{{ 'contact.form.headline' | trans }}</h2>

            {% if success != null %}
                <div class="callout">
                    {% if success == true %}
                        <div class="__message">
                            <div class="callout success">{{ 'contact.form.success' | trans }}</div>
                        </div>
                    {% elseif success == false %}
                        <div class="__message">
                            <div class="callout alert">{{ 'contact.form.error' | trans }}</div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="small-8 small-centered columns">
            {{ form_start(contactForm) }}
                <div class="row">
                    <div class="small-12 columns">
                        <label>
                            {{ 'contact.form.name' | trans }}
                            {{ form_widget(contactForm.name, {'attr': {'placeholder': 'contact.form.name' | trans}}) }}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label>
                            {{ 'contact.form.mail' | trans }}
                            {{ form_widget(contactForm.mail, {'attr': {'placeholder': 'contact.form.mail' | trans}}) }}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label>
                            {{ 'contact.form.phone' | trans }}
                            {{ form_widget(contactForm.phone, {'attr': {'placeholder': 'contact.form.phone' | trans}}) }}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label>
                            {{ 'contact.form.comment' | trans }}
                            {{ form_widget(contactForm.comment, {'attr': {'placeholder': 'contact.form.comment' | trans}}) }}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 columns text-left">
                        {{ 'contact.form.help.placeholder' | trans }}
                    </div>
                    <div class="small-6 columns text-right">
                        <button type="submit" class="button radius right">{{ 'contact.form.submit' | trans }}</button>
                    </div>
                </div>
            {{ form_end(contactForm) }}
        </div>
    </div>

    <div class="row">
        <div class="small-12 text-center columns">
            {{ 'contact.form.footer.text' | trans }}
        </div>
    </div>
{% endblock %}